.counter {
    margin-top: 100px;
    margin-left: 20px;
    border: 2px solid #032d62;
    width: 200px;
    height: 200px;
    display: grid;
    grid-template-rows: 6fr 3fr;
    justify-content: center;
    border-radius: 10px;
    background-color: #8f929a;
}

.tablo {
    display: flex;
    justify-content: center;
    border: 2px solid #032d62;
    width: 170px;
    height: 80px;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 8px #032d62;
    font-size: 40px;
    color: white;
}


.errorInput {
    display: flex;
    justify-content: center;
    border: 2px solid #032d62;
    /*color: white;*/
    width: 170px;
    height: 80px;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 8px #032d62;
    font-size: 40px;
    color: red;

}